/*
Projet: Style CSS du site du voyage à Pékin, page participants uniquement
Auteur: Samuel Roland
Date: octobre-novembre 2019
*/
body {
    width: 100%;
    position: absolute;
    padding: 2%;
    height: 100%;
    border: solid 3px deeppink;
}

header {
    width: 100%;

}

#chkPrenom {
    display: inline;
}

.center, thead {
    font-size: 15px;
    text-align: center;
}

.chk {

}
.bigtxt {
    font-size: 30px;
}
#logo {

    height: 50px;
    background-color: whitesmoke;
    float: left;
}

#links {

    height: 50px;
    background-color: red;
    text-align: right;
    float: right;

}

#menu {
    width: 100%;
    margin: auto;
    height: 60px;
    border: solid 3px blue;
background-color: #1c7430;
}

#content {
    width: 100%;
    height: auto;
    background-color: pink;
    padding: 10px;

}

#optaff {

}

#infoedit {

}

#logocpnv {
    height: 50px;

}

p {
    text-align: left;
    font-size: 18px;
}

.centpourcent {
    width: 100%;
}

#avanttableau {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #00b6ff;
    width: 100%;
}

#zonetableau {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #1f6eff;
}

#tableau {
    width: 100%;
}

td, th {
    border: solid black 2px;
}

th {
    background-color: aqua;
}

#testtxtbox {
    color: black;
}

#testtxtbox:focus {
    border: solid black 1px;
}

#bnactiveredition {

    float: right;
}

label {
    margin-left: 5px;
    margin-right: 5px;
}

#btnlist {
    text-align: right;
}

.showmodifiable:hover {
    background-color: lightgrey;

}

.showmodifiable {
    background: red;
}

table input {
    width: 100%;

}

table input:focus {
    border: solid 2px darkgreen;
    border-collapse: revert;
}

.emptycell {
    background-color: yellow;
}

.notaninteger {
    background-color: darkred;
}

.changepossible {
    border: solid 2px green;
}

td {
    /*Hauteur des lignes du tableau*/
    line-height: 10px;
}

.bn {
 background-color: red;
    width: 20%;
}