/*
Projet: Style CSS du site du voyage à Pékin, page participants uniquement
Auteur: Samuel Roland
Date: octobre-novembre 2019
*/
body {
    width: 100%;
    position: absolute;
    padding: 2%;
    height: auto;
    border: solid 3px deeppink;
}

header {
    width: 100%;

}

#chkPrenom {
    display: inline;
}

.center, thead {

    text-align: center;
}

.chk {

}

.bigtxt {
    font-size: 30px;
}

#logo {
    float: left;
}

#logocpnv {
    height: 50px;

}
#links {
    height: 50px;
    text-align: right;
    float: right;
}

#menu {
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: red;
    margin-bottom: 5px;
}

#menu a:hover {
    color: lightgrey;
}

header a:hover {
    color: brown;
}

#menu a, header a {
    color: darkslategrey;
}

#content {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    padding: 10px;

}

#optaff {

}

#infoedit {
    background-color: lightgrey;
    margin: 10px;
}


p {
    text-align: left;
    font-size: 18px;
}

.centpourcent {
    width: 100%;
}

#avanttableau {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #fffbfb;
    width: 100%;
}

#zonetableau {
    background-color: #fffbfb;
    padding: 5px;
}

#tableau {
    width: 100%;
}

td, th {
    border: solid black 2px;
}

th {
    background-color: aqua;
}

#testtxtbox {
    color: black;
}

#testtxtbox:focus {
    border: solid black 1px;
}

#bnactiveredition {

    float: right;
}

label {
    margin-left: 5px;
    margin-right: 5px;
}

#btnlist {
    text-align: right;
}

.showmodifiable:hover {
    background-color: lightgrey;

}

.showmodifiable {
    background: red;
}

table input {
    width: 100%;

}

table input:focus {
    border: solid 2px black;
    background-color: lightgrey;
}

.emptycell {
    background-color: yellow;
}

.notaninteger {
    background-color: darkred;
}

.changepossible {
    border: solid 3px green;
}

td {
    /*Hauteur des lignes du tableau*/
    line-height: 10px;
}

.bn {
    text-align: center;
    background-color: transparent;
    border: groove 2px darkolivegreen;
}


#greenstrong {
    color: green;
}

#redstrong {
    color: red;
}

#yellowstrong {
    color: yellow;
}
.borderactive{

    background-color: lightseagreen;
}
